*.pyc
lib/__pycache__
output/*
pre_trained/*
adv_output/*
libs/__pycache__
libs/transformations/__pycache__
*.ipynb_checkpoints
__pycache__
models/__pycache__
simulation_output/*
simulation_output_cp1/*
imagenet_images
distance_matrix